username = 'put_your_username_here'
password = 'put_your_password_here'

#EN# don't forget to change the file extention from '.example' to '.py'
#NL# vergeet niet de bestandsextentie '.example' in '.py' te veranderen
